{% extends 'layout/layout.html' %}
{% block body %}

  <!--================Hero Banner Area Start =================-->
    <section class="hero-banner d-flex align-items-center">
        <div class="container text-center">
            <h2>About Charge</h2>
            <nav aria-label="breadcrumb" class="banner-breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="#">Home</a></li>
                    <li class="breadcrumb-item active" aria-current="page">About Us</li>
                </ol>
            </nav>
        </div>
    </section>
    <!--================Hero Banner Area End =================-->

   <!--================Service  Area =================-->
 <section class="service-area area-padding">
        <div class="container">
            <div class="row">
                <!-- Single service -->
                <div class="col-md-6 col-lg-4">
                    <div class="single-service">
                        <div class="service-icon">
                            <i class="ti-pencil-alt"></i>
                        </div>
                        <div class="service-content">
                            <h5>Unique Design</h5>
                            <p>Provides a simple elegant design, which was developed with the end user at heart, simpler is better </p>

                        </div>
                    </div>
                </div>

                <!-- Single service -->
                <div class="col-md-6 col-lg-4">
                    <div class="single-service">
                        <div class="service-icon">
                            <i class="ti-image"></i>
                        </div>
                        <div class="service-content">
                            <h5>Business Solution</h5>
                            <p>Provides  a sense of security to both your bussiness and your clients by securing your cyberspace by detecting fraud. </p>

                        </div>
                    </div>
                </div>


                <!-- Single service -->
                <div class="col-md-6 col-lg-4">
                    <div class="single-service">
                        <div class="service-icon">
                            <i class="ti-headphone-alt"></i>
                        </div>
                        <div class="service-content">
                            <h5>Cyber Secure</h5>
                            <p>from a complex organisation to a simple E-commerce bussiness front, we provide you with an AI based mothod of predicting and detecting fraudulent transactions in real time. </p>

                        </div>
                    </div>
                </div>

            </div>
        </div>
    </section>
    <!--================Service Area end =================-->


    <!--================About  Area =================-->
    <section class="about-area area-padding-bottom">
        <div class="container">
            <div class="row align-items-center">

                <div class="col-lg-6">
                    <div class="area-heading">
                        <h4>Real Time Transaction Monitoring &  <br>Fraud Detection </h4>
                        <h6>building secure, precise and efficient systems. </h6>

                        <p>Charge is a web based machine learning application that provides transaction monitoring, risk scoring and fraud detection services in real time using machine learning through our RESTful API.</p>
                    </div>
                    <div class="row">
                        <div class="col-md-6 col-lg-6">
                            <div class="single-about">
                                <div class="about-icon">
                                    <i class="ti-thought"></i>
                                </div>
                                <div class="single-about-content">
                                    <h5>Compatibility</h5>
                                    <p>Our RESTful API ensures compatibilty with any transaction system with HTTP ans HTTPS access.</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6 col-lg-6">
                            <div class="single-about">
                                <div class="about-icon">
                                    <i class="ti-time ></i>
"></i>
                                </div>
                                <div class="single-about-content">
                                    <h5>Accuracy</h5>
                                    <p>Our machine learning model is trained using local transaction data ensuring the highest accuracy scores. </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--================About Area End =================-->

{% endblock %}